@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.25s;
}

body {
  background-color: #7ae868;
  background-image: url("imagenes/fondoRM.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: 50% 75%;
  margin: 0px;
}


/*Estilo para header*/
.header1 {
  background-color: #7ae868;
  border-color: #000000;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: static;
}

.logorm {
  position: relative;
  width: 90px;
  height: 70px;
  top: -0px;
  bottom: 0;
  right: 0px;
  left: 600px;
}

.logorm2 {
  position: relative;
  width: 150px;
  height: 80px;
  top: 5px;
  bottom: 0;
  right: 0px;
  left: 50px;
}



/*CONTENEDOR PRINCIPAL pag1*/
.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: calc(100vh - 3rem);
}

/*Estilo imagen principal*/
.imagenP1rm {
  display: flex;
  position: relative;
  margin: 0px 100px 0px 0px;
}

.portadarm {
  width: 530px;
  height: 630px;
}

/*Estilo hacer flexbox columna de datos*/
.infoportada {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0px;
}

/*Estilo para imagen nombre*/
.imagenP2rm {
  position: relative;
  max-width: fit-content;
  max-height: fit-content;
}

.nombrerm {
  width: 700px;
  height: 250px;
}

.buscador {
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(254, 254, 255);
  text-align: center;
}

.buscador2 {
  
  max-width: fit-content;
  margin: 0 auto;
}

.selector1 {
  border: 2px solid #000000;
  font-size: 12px;
  height: 30px;
  width: 50px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

input {
  border: 2px solid #000000;
  font-size: 12px;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  margin-bottom: 0px;
  text-align: center;
}

.botones {
  position: relative;
  bottom: -50px;
  margin-bottom: 10px;
}

.botonGrande {
  position: relative;
  background-color: rgb(8, 8, 8);
  color: #ffffff;
  font-size: 1rem;
  padding: 20px;
  margin: 1rem;
  border-color: #2BCA04;
  border-radius: 50px;
  border-width: 0.2cm;
  left: 120px;
  bottom: 50px;
  width: 200px;
  top: -50px;
  font-weight: bold;
}

.botonGrande:hover {
  padding: 28px 28px;
  background: #2cea1e;
  color: rgb(10, 10, 10);
}

.botonGrande:active {
  padding: 28px 28px;
  background: #080808;
  color: rgb(242, 239, 239);
}


.botonBuscar {
  background-color: rgb(8, 8, 8);
  color: #ffffff;
  font-size: x-small;
  padding: 10px;
  margin: 1rem;
  border-color: #2BCA04;
  border-radius: 50px;
  font-weight: bold;
}

.botonBuscar:hover {
  padding: 15px 15px;
  background: #2cea1e;
  color: rgb(2, 2, 2);
}

.botonBuscar:active {
  padding: 15px 15px;
  background: #030303;
  color: rgb(249, 245, 245);
}

.frase {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #7AE868;
  font-size: 30px;
  text-align: center;
  letter-spacing: 3px;
}


/*SECCIÓN 2: TODOS*/
.seccion2 {
  display: flex;
  position: relative;
  background-color: #7AE868;
}

.tituloPersonajes {
  /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
  font-family: 'Creepster', cursive;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 3px;
  align-items: center;
  margin: 20px 10px;
}

/*EMPIEZA ESTILO DE LAS TARJETAS*/
#personajes {
  /*contendor de las tarjetas*/
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  /*background-color: #FF0000;*/
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.imagenTarjeta {
  width: 200px;
  height: 200px;
  margin: 20px 50px 20px 50px;
}

.tarjetaP {
  /* fondo tarjetas*/
  background-color: #00000063;
  width: 300px;
  height: 400px;
  color: aliceblue;
  margin-top: 20px;
  border-radius: 15px;
}

.textoTarjeta {
  margin: 0px 0px 0px 10px;
  font-weight: 0;
}

.resultado {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  /*background-color: #FF0000;*/
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
}

/*SECCIÓN 3: TODOS*/
.seccion3 {
  display: flex;
  position: relative;
}

.multiversos {
 /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
  font-family: 'Creepster', cursive;
  color: #000000;
  font-size: X-large;
  text-align: center;
  letter-spacing: 3px;
  max-width: fit-content;
  margin: 0 auto;
  padding: 60px;
}

#botonesmultiverso {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.botonorigen {
  position: relative;
  background-color: rgb(8, 8, 8);
  color: #1EB9EA;
  font-size: 1rem;
  padding: 10px;
  margin: 5px;
  border-radius: 50px;
}

.botonorigen:hover {
  padding: 5px 12px;
  background: #064f65;
  color: rgb(0, 0, 0);
}

.botonorigen:active {
  padding: 5px 12px;
  background: #0E7595;
  color: rgb(0, 0, 0);
}

#personajesMulti { /*contendor de las tarjetas*/
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  /*background-color: #FF0000;*/
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}


/*HEADER PRUEBA*/
.headerPrueba {
  background-color: #030303;
  color: #7AE868;
  padding: 1rem 2rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.contenedorheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation ul li {
  display: inline-block;
  padding: 0.5rem 2rem 0.5rem;
  border-radius: 5px;
  align-items: center;
}

.navigation ul li:hover {
  background: #79e86881;
}

.botonHeader {
  background-color: transparent;
  border: none;
  color: #7AE868;
  font-size: large;
  font-weight: bold;
}

.botonHeader:hover {
  color: white;
}


/*EMPIEZA CARRUSEL INTENTO 2*/
.carrusel{
  width: 90%;
  /*max-width: 120em;*/
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.carrusel .grande{
  width: 400%;
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-around;
  align-items: center;
  transition: all .5s ease;
  transform: translateX(0%);
}

.carrusel input{
  width: calc( 400% / 5 em);
  height: 300px;
  border-radius: 10px;
}

.carrusel .puntos{
  width: 100%;
  padding: .4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 auto;
}

.carrusel .punto{
  width: 2em;
  height: 2em;
  background-color: rgba(0, 0, 0, 0.441);
  margin: 1em 1em 0;
  border-radius: 30px;
}

.carrusel .punto.activo{
  background-color: rgb(0, 0, 0);
}



/*EMPIEZA CARRUSEL INTENTO 1

small,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.carruselContenedor{
  width: 100%;
  margin: 0px 0px;
  justify-content: center;
}

@media(min-width:768px) {
  .carruselContenedor {
    margin: 0px 0px;
  }
}

.carruselImagenes {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 304px;
  padding: 10px 0px;
  margin: 0px auto;
  max-width: 90vw;
  overflow: hidden;
}

.carrusel-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: .5s ease-in-out;
}

.carrusel {
  position: relative;
  width: 210px;
  padding: 0px 18px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

.carrusel h4 {
  position: absolute;
  color: rgba(0, 0, 0, 0);
}

.carrusel h4 small {
  font-size: 15px;
  display: block;
}

.carrusel a img {
  object-fit: cover;
  height: 300px;
  width: 200px;
  border-radius: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0, 0.5);
  transition: .3s ease-in-out;
  margin: 15px;
}

@media(min-widht:768px) {
  .carrusel {
    width: 275px;
  }

  .carrusel a img {
    width: 250px;
  }
}

.carrusel-arrow { 
  border-radius: 30px;
  background-color: #000000;
  position: fixed;
  z-index: 4;
  width: 60px;
  height: 60px;
  text-align: center;
  border: 0;
  cursor: pointer;
  margin: 15px;
}

.carrusel-arrow:focus{
  outline: 0;
}

.carrusel-arrow svg{
  width: 12px;
  height: 100%;
  color: rgba(255, 254, 254, 0.514);
}

.carrusel-prev{
  left: 0;
}

.carrusel-next{
  right: 0;
}*/

